/* App.css */

/* Styles généraux pour l'application */
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 20px;
  max-width: 800px; /* Ajustez en fonction de la largeur de votre application */
  margin: auto;
  text-align: center;
}

/* Style pour les messages */
.message {
  margin-bottom: 30px; /* Ajustez l'espace sous le message */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

/* Style pour la liste déroulante et le nombre de joueurs */
select,
input[type="number"] {
  padding: 10px;
  margin-right: 10px; /* Ajustez l'espace entre les éléments */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour les boutons */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 20px; /* Ajustez l'espace au-dessus du bouton */
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Styles pour les formulaires */
input[type="text"],
input[type="password"] {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: calc(100% - 24px);
  padding: 12px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #007B9E;
}

/* Styles supplémentaires pour organiser les éléments de la liste déroulante et les entrées */
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espace entre les groupes de formulaires */
}

.form-group > * {
  margin-right: 10px; /* Espace entre les éléments à l'intérieur d'un groupe de formulaires */
}

.form-group > *:last-child {
  margin-right: 0;
}

/* Rendre le bouton de déconnexion distinct */
.logout-button {
  background-color: #f44336;
}

.logout-button:hover {
  background-color: #d32f2f;
}
